* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    margin: 10px auto;
}

nav {
    margin-bottom: 20px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    text-align: center;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#article_p {
    color: #ebebeb;
    background: #777; 
}

section {
    width: 495px;
    float: left;
}

footer {
    clear: both;
}

#headlineBox {
    margin: 10px 20px;
}

#paragraphBox {
    margin: 10px 20px;
}