* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    margin: 10px auto;
    height: 100px;
    line-height: 300%;
}

nav {
    margin-bottom: 20px;
    height: 100px;
    line-height: 300%;
}

h1, p {
    color: #777;
    background: #ebebeb;
    text-align: center;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 20px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 200px;
}

#article_p {
    color: #ebebeb;
    background: #777;
}

section {
    width: 495px;
    float: left;
    height: 300px;
    position: relative;
    margin-right: 20px;
}

#sectionP {
    padding-top: 15px;
}

aside {
    height: 300px;
    float: right;
    width: 445px;
}

#asideP {
    padding-top: 15px; 
}

footer {
    clear: both;
    margin-top: 20px;
    height: 100px;
    line-height: 300%;
}

#headlineBox {
    margin: 20px 10px 10px;
    height: 55px;
    background: #ebebeb;
    line-height: 280%;
}

#paragraphBox {
    margin: 10px 10px;
    height: 55px;
    background: #ebebeb;
    line-height: 260%;
}

.pageCore {
    width: 960px;
    height: 300px;
    background: #777;
}

